<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/setting.css" />

    <title>TDT Chatbot - Setting</title>
  </head>
  <body>
    <div class="container">
      <div class="title">Semester Setting</div>

      <div class="setting">
        <!-- Score semester -->
        <div class="setting__card">
          <div class="setting__title">Score</div>
          <div class="divider"></div>

          <div class="section">
            <div class="setting__default">Default:</div>
            <div class="setting__default-value"><%= defaultScoreSemester %></div>
          </div>

          <div class="section">
            <div class="setting__select">
              <label for="sel-score">Select:</label>
            </div>
            <div class="setting__select-wrapper">
              <select name="score" id="sel-score" class="setting__select-value">
                <% scoreSemesterList.forEach((semester) => { %>
                  <option 
                    value="<%= semester.NameTable %>"
                    <%= semester.NameTable === chosenScoreSemester && "selected" %>
                  >
                    <%= semester.TenHocKy %>
                  </option>
                <% }); %>
              </select>
            </div>
          </div>
        </div>

        <!-- Timetable semester -->
        <div class="setting__card">
          <div class="setting__title">Timetable</div>
          <div class="divider"></div>

          <div class="section">
            <div class="setting__default">Default:</div>
            <div class="setting__default-value"><%= defaultTimetableSemester %></div>
          </div>

          <div class="section">
            <div class="setting__select">
              <label for="sel-timetable">Select:</label>
            </div>
            <div class="setting__select-wrapper">
              <select name="timetable" id="sel-timetable" class="setting__select-value">
                <% timetableSemesterList.forEach((semester) => { %>
                  <option 
                    value="<%= semester.value %>"
                    <%= semester.value === chosenTimetableSemester && "selected" %>
                  >
                    <%= semester.text %>
                  </option>
                <% }) %>
              </select>
            </div>
          </div>
        </div>

        <div class="setting__btn">
          <button id="btn-submit" class="btn">Submit</button>
          <button id="btn-back" class="btn btn--color4">Back</button>
        </div>
      </div>
    </div>

    <script src="/js/setting.js"></script>
  </body>
</html>
